{%extends 'base.html'%}
{%block head%}
<style>
   #mobile{
      display: none;
   }
   @media only screen and (max-width: 768px) {
   #mobile{
      display: block;
   }
}
</style>
   <title>{{product}}</title>
{%endblock%}
      
   {%block body%}
      <div class="terms-conditions product-page">
         <div class="terms-title">
            <div class="container">
               <div class="row">
                  <ol class="breadcrumb">
                     <li><a href="{% url 'home' %}">Home </a></li>
                     <li class="active"><a href="{% url 'category'  product.category.title %}">{{product.category.title}}</a></li>
                     <li class="active">{{product.mark.name}}</li>
                     <li class="active" ><a href="#">{{product}}</a></li>
                  </ol>
               </div>
            </div>
         </div>
      </div>
      <div class="product-page-main">
         <div class="container">
            <div class="row">
               <div class="col-md-12">
                  <div class="prod-page-title">
                     <h2>{{product}}</h2>
                     <p>By <span>{{product.mark.name}}</span></p>
                  </div>
               </div>
            </div>
            <div class="row">
               <div class="col-md-2 col-sm-4">
                  <div class="left-profile-box-m prod-page">
                     <div class="pro-img">
                        <img src="{{product.cover_url}}"  alt="#" />
                     </div>
                     <div class="pof-text">
                        <h3>{{product}}</h3>
                        {% if product.in_stock %}
                           <div class="check-box"></div>
                        {%endif%}
                     </div>
                     <div id="mobile" class="price-box-right">
                        <h4>Price</h4>
                        {% if request.user.is_authenticated  and is_buyer  %}
                        <h3>{{product.price}} dt<span></span></h3>
                        {%endif%}
                        {% if product.in_stock %}
                           <a href="#">Contact Us</a>
                        {%else%}
                           <a style="background: linear-gradient(to bottom, #b80903 100%, #05740b59 30%);" href="#">Out of stock</a>
                        {%endif%}
                        <h5><i class="fa fa-clock-o" aria-hidden="true"></i> <strong>24 hours</strong> avg. responsive time</h5>
                     </div>
                  </div>
               </div>
               <div class="col-md-7 col-sm-8">
                  <div class="md-prod-page">
                     <div class="md-prod-page-in">
                        <div class="page-preview">
                           <div class="preview">
                              <div class="preview-pic tab-content">
                                 <div class="tab-pane active"  id="pic-1"><img src="{{product.img1.url}}" alt="#" /></div>
                                 <div class="tab-pane" id="pic-2"><img src="{{product.img2.url}}" alt="#" /></div>
                                 <div class="tab-pane" id="pic-3"><img src="{{product.img3.url}}" alt="#" /></div>
                                 <div class="tab-pane" id="pic-4"><img src="{{product.img4.url}}" alt="#" /></div>
                              </div>
                              <ul class="preview-thumbnail nav nav-tabs">
                                 <li class="active"><a data-target="#pic-1" data-toggle="tab"><img src="{{product.img1.url}}" alt="#" /></a></li>
                                 <li><a data-target="#pic-2" data-toggle="tab"><img src="{{product.img2.url}}" alt="#" /></a></li>
                                 <li><a data-target="#pic-3" data-toggle="tab"><img src="{{product.img3.url}}" alt="#" /></a></li>
                                 <li><a data-target="#pic-4" data-toggle="tab"><img src="{{product.img4.url}}" alt="#" /></a></li>
                              </ul>
                           </div>
                        </div>
                        {% if request.user.is_authenticated  and is_buyer  %}
                           <div class="btn-dit-list clearfix">
                              <div class="left-dit-p">
                                 <div class="prod-btn">
                                    <a href="{%url 'save-to-wishlist' product.id %}"><i class="fa fa-star" aria-hidden="true"></i> Save to wishlist</a>
                                 </div>
                              </div>
                           </div>
                        {%endif%}
                     </div>
                     <div class="description-box">
                        {% if request.user.is_authenticated  and is_buyer  %}
                        <div class="dex-a">
                           <h4>Description</h4>
                           <p>{{product.description}}
                           </p>
                           <br>
                           <p>Measurments: H {{produt.height}} cm / &Oslash; {{product.width}} cm</p>
                        </div>
                        <div class="spe-a">
                           <h4>Specifications</h4>
                           <ul>
                              <li class="clearfix">
                                 <div class="col-md-4">
                                    <h5>Measurments</h5>
                                 </div>
                                 <div class="col-md-8">
                                    <p>H {{product.height}} cm / W {{product.width}} cm </p>
                                 </div>
                              </li>
                              <li class="clearfix">
                                 <div class="col-md-4">
                                    <h5>Material</h5>
                                 </div>
                                 <div class="col-md-8">
                                    <p>{{product.material}}</p>
                                 </div>
                              </li>
                              <li class="clearfix">
                                 <div class="col-md-4">
                                    <h5>Mass</h5>
                                 </div>
                                 <div class="col-md-8">
                                    <p>{{product.mass}}</p>
                                 </div>
                              </li>
                              <li class="clearfix">
                                 <div class="col-md-4">
                                    <h5>Comdition</h5>
                                 </div>
                                 <div class="col-md-8">
                                    <p>{{product.condition}}</p>
                                 </div>
                              </li>
                              <li class="clearfix">
                                 <div class="col-md-4">
                                    <h5>SKU number</h5>
                                 </div>
                                 <div class="col-md-8">
                                    <p>{{product.SKU}}</p>
                                 </div>
                              </li>
                              <li class="clearfix">
                                 <div class="col-md-4">
                                    <h5>Shipping</h5>
                                 </div>
                                 <div class="col-md-8">
                                    <p><a href="https://www.aramex.com/us/en/track/shipments">Aramex </a></p>
                                 </div>
                              </li>
                              <li class="clearfix">
                                 <div class="col-md-4">
                                    <h5>Warranty</h5>
                                 </div>
                                 <div class="col-md-8">
                                    <p>{{product.warranty}} years</p>
                                 </div>
                              </li>
                           </ul>
                        </div>
                        {%endif%}
                     </div>
                     
                  </div>
                  <div class="similar-box">
                     <h2>Similiar products from <mark>{{product.mark.name}}</mark></h2>
                     <div class="row cat-pd">
                        {%for product in products%}
                        <div class="col-md-6">
                           <div class="small-box-c">
                              <div class="small-img-b">
                                 <a href="{% url 'product' product.id %}"><img class="img-responsive" src="{{product.cover_url}}" alt="#" /></a>
                              </div>
                              <div class="dit-t clearfix">
                                 <div class="left-ti">
                                    <h4>{{product}}</h4>
                                    <p>By <span>{{product.mark.name}}</span> under <span>{{product.category.title}}</span></p>
                                 </div>
                                 {% if request.user.is_authenticated  and is_buyer  %}
                                 <a href="#" tabindex="0">${{product.price}}</a>
                                 {%endif%}
                              </div>
                              <div class="prod-btn">
                                 {% if request.user.is_authenticated  and is_buyer  %}
                                 <a href="{%url 'save-to-wishlist' product.id %}"><i class="fa fa-star" aria-hidden="true"></i> Save to wishlist</a>
                                 {%endif%}
                              </div>
                              
                           </div>
                        </div>
                        <br>
                        {%endfor%}
                     </div>
                     
                  </div>
               </div>
               <div class="col-md-3 col-sm-12">
                  <div id="" class="price-box-right">
                     {% if request.user.is_authenticated  and is_buyer  %}
                     <h4>Price</h4>
                     <h3>{{product.price}} dt<span></span></h3>
                     {%endif%}
                     {% if product.in_stock %}
                        <a href="{% url 'about-us'%}">Contact company</a>
                     {%else%}
                        <a style="background: linear-gradient(to bottom, #b80903 100%, #ffffff59 0%);"  href="#">Out of stock</a>
                     {%endif%}
                     <h5><i class="fa fa-clock-o" aria-hidden="true"></i> <strong>24 hours</strong> avg. responsive time</h5>
                  </div>
               </div>
            </div>
         </div>
      </div>
   {%endblock%}