{%extends 'base.html' %}

{%block head%}
<title>Log-In</title>
{%endblock%}

{%block body %}
<div class="">
    <div class="page-content-product">
        <div class="main-product">
            <div class="container">
                <div class="row clearfix">
                    <form method="POST" action="{% url 'log-in' %}">
                        {%csrf_token%}
                        <div class="find-box">
                            <h1>Log-In</h1>
                            <h4>Welcome back !</h4>
                            <div class="product-sh">
                                <div class="col-sm-8">
                                    <div class="form-sh">
                                        {%if request.GET.next%}
                                            <input type="hidden" name="next" value="{{request.GET.next}}">
                                        {%endif%}
                                        <input type="text" name="username" placeholder="Username">
                                    </div>
                                    <br><br>
                                </div>
                                
                                <div class="col-sm-8">
                                    <div class="form-sh">
                                        <input type="password" name="password" placeholder="Password">
                                    </div>
                                </div>
                                
                                <div class="col-sm-4">
                                    <br><br><br><br>
                                    <div class="form-sh"> <a class="btn" ><input type="submit" value="Log-In"></a> </div>
                                </div>
                                <p>Don't have an account?
                                    <a href="{% url 'sign-up'%}">
                                        Sign-Up
                                    </a>
                                </p>
                            </div>
                        </div>
                    </form>
                </div>
    
            </div>
        </div>
    </div>
</div>
<script>
    
</script> 
{%endblock%}