{%extends 'base.html'%}
{%block head%}
<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<!-- CSS only -->
<style>
    body {
        background-image: url("https://cdnb.artstation.com/p/assets/images/images/029/631/921/large/tiki-bg-apartment-livingroom-night-lights-off.jpg");
        color: #fff;
        font-family: 'Raleway', sans-serif;
        font-weight: 400;
        margin: 0px;
        overflow-x: hidden;
        padding: 0px;
        background-repeat: repeat-y;
    }

    .form-control:focus {
        box-shadow: none;
        border-color: #308bc7
    }

    .profile-button {
        background: rgb(8, 82, 179);
        box-shadow: none;
        border: none
    }

    .profile-button:hover {
        background: transparent
    }

    .profile-button:focus {
        background: #682773;
        box-shadow: none
    }

    .profile-button:active {
        background: #682773;
        box-shadow: none
    }

    .back:hover {
        color: #682773;
        cursor: pointer
    }

    .labels {
        font-size: 11px
    }

    .add-experience:hover {
        background: #BA68C8;
        color: #fff;
        cursor: pointer;
        border: solid 1px #BA68C8
    }

    .pc-btn {
        display: block;
    }
    .mobile-btn{
        display: none;
    }
    @media only screen and (max-width: 768px) {
        .pc-btn {
            display: none;
        }
        .mobile-btn{
            display: block;
        }
    }
    
</style>
<title>Make profile</title>
{%endblock%}
{%block body%}
<br><br>
<form action="" method="post" enctype="multipart/form-data">
    {%csrf_token%}
    {{form.media}}
    <div class="container rounded bg-white mt-5 mb-5">
        <div class="row">
            <div class="col-md-3 border-right">
                <div class="d-flex flex-column align-items-center text-center p-3 py-5"><img class="rounded-circle mt-5"
                        width="150px"
                        src="https://www.kindpng.com/picc/m/20-208238_small-business-white-new-business-icon-hd-png.png">
                    <span class="font-weight-bold">Any Questions contact us on : </span><span
                        class="text-black-50">ourcompany@gmail.com</span><span></span>
                    <br>
                    <span class="font-weight-bold">Or call us on :</span><span class="text-black-50"> +216 55 555 555
                    </span><span></span>
                </div>
                <br>
                <label class="labels">Profile picture</label>
                <input class="form-control" type="file" name="avatar" id="" accept="image/*">
                <br>
                <label class="labels">Cover picture</label>
                <input class="form-control" type="file" name="cover" id="" accept="image/*">
            </div>
            <div class="col-md-5 border-right">
                <div class="p-3 py-5">

                    <div class="row mt-3">
                        <div class="col-md-12"><br><label class="labels">Name</label><input type="text" name="name"
                                class="form-control" placeholder="Name" value=""></div>
                    </div>
                    <div class="row mt-3">
                        <div class="col-md-12"><br><label class="labels">Mobile Number 1</label><input type="number"
                                name="phone1" class="form-control" placeholder="Enter phone number" value=""></div>
                        <div class="col-md-12"><br><label class="labels">Mobile Number 2</label><input type="number"
                                name="phone2" class="form-control" placeholder="Enter phone number" value=""></div>
                        <div class="col-md-12"><br><label class="labels">Address Line </label><input type="text"
                                name="address" class="form-control" placeholder="Enter address line" value=""></div>
                        <div class="col-md-12"><br><label class="labels">Postcode</label><input type="number"
                                name="postcode" class="form-control" placeholder="Postcode" value=""></div>
                        <div class="col-md-12"><br><label class="labels">Email ID</label><input type="email"
                                name="email" class="form-control" placeholder="Enter email id" value=""></div>
                        <div class="col-md-12"><br><label class="labels">Number of your employess</label><input
                                name="nb_emp" type="number" class="form-control" placeholder="Number of your employess"
                                value=""></div>
                        <div class="col-md-12"><br><label class="labels">Website URL </label><input type="url"
                                name="website_url" class="form-control" placeholder="Website URL " value=""></div>
                        <div class="col-md-12"><br><label class="labels">Company Type</label>
                            <select name="type" class="form-control" id="">
                                <option value="">Chose your company type</option>
                                <option value="Manufacturer">Manufacturer</option>
                                <option value="Start Up"> Start Up </option>
                            </select>
                        </div>
                    </div>
                    <br>
                    <div class="mt-5 text-center pc-btn"><button class="btn btn-primary profile-button"
                            type="submit">Save Profile</button></div>
                    <br>
                </div>
            </div>
            <div class="col-md-4">
                <div class="p-3 py-5">
                    <div class="d-flex justify-content-between align-items-center experience"><br><span>About
                            me</span><span class="border px-3 p-1 add-experience"><i class="fa fa-plus"></i></span>
                    </div>
                    <div class="col-md-12" style="height: '300px';"><label class="labels">Describe your company here <br></label>
                        {{form.about_me}}
                    </div>
                </div>
            </div>
        </div>
        <br>
        <div class="mt-5 text-center mobile-btn"><button class="btn btn-primary profile-button" type="submit">Save Profile</button>
        </div>
        <br>
    </div>
    </div>
    </div>
</form>
<script>
    var inputs = document.getElementsByClassName("form-control")
    for (var i = 0; i < inputs.length; i++) {
        inputs[i].setAttribute("required", "")
    }
</script>
{%endblock%}