{%extends 'base.html'%}
{%load static%}

{%block head%}
   <style>
      .ff{
         color:white;
      }
      @media only screen and (max-width: 768px) {
         .ff{
            color:black;
         }
      }
   </style>
   <title>{{profile.user.username}}</title>
{%endblock%}

{%block body%}
      <div class="profile-box banner-p">
         <div class="container">
            <div class="row">
               <div class="col-md-12">
                  <div class="profile-b">
                     <img src="{{profile.cover_url}}" alt="#" />
                     <div class="dit-p">
                        <div class="col-md-2"></div>
                        <div class="col-md-10">
                           <div class="profile-left-b">
                              <ul class="ff">
                                 <li><p >{{profile.type}} </p></li>
                                 <li><p >{{profile.address}}</p></li>
                                 <li><p >{{profile.employees_number}} employees</p></li>
                              </ul>
                           </div>
                           <div class="profile-right-b">
                              <a class="vi-btn" href="{{profile.web_site}}">Visit website</a>
                           </div>
                        </div>
                     </div>
                  </div>
               </div>
            </div>
         </div>
      </div>
      <div class="product-profile-box">
         <div class="container">
            <div class="row">
               <div class="col-md-2 col-sm-4 pr">
                  <div class="profile-pro-left">
                     <div class="left-profile-box-m">
                        <div class="pro-img">
                           <img src="{{profile.avatar_url}}" alt="#" />
                        </div>
                        <div class="pof-text">
                           <h3>{{profile}}</h3>
                           {%if profile.is_buyer%}
                              <div class="check-box"></div>
                           {%endif%}
                        </div>
                        {%if profile.is_buyer%}
                           <a href="#tab3default">Virefied</a>
                        {%else%} 
                           <a href="#tab3default" style="background-color: red;">Not Virefied</a>
                        {%endif%}
                        <p><img src="{% static 'images/report-icon.jpg'%}" alt="" />Report this user</p>
                     </div>
                  </div>
               </div>
               <div class="col-md-10 col-sm-8">
                  <div class="profile-pro-right">
                     <div class="panel with-nav-tabs panel-default">
                        <div class="panel-heading clearfix">
                           <ul class="nav nav-tabs pull-left">
                              <li class="active"><a href="#tab1default" data-toggle="tab">Products <span>{{profile.products.all|length}}</span></a></li>
                              <li><a href="#tab2default" data-toggle="tab">About</a></li>
                              <li><a href="#tab3default" data-toggle="tab">Contact</a></li>
                           </ul>
                           
                        </div>
                        <div class="panel-body">
                           <div class="tab-content">
                              <div class="tab-pane fade in active" id="tab1default">
                                 <div class="product-box-main row">
                                    {%for product in profile.products.all %}
                                    <div class="col-md-4 col-sm-6">
                                       <div class="small-box-c">
                                          <div class="small-img-b">
                                             <a href="{% url 'product' product.id %}"><img src="{{product.cover_url}}" alt="#" /></a>
                                          </div>
                                          <div class="dit-t clearfix">
                                             <div class="left-ti">
                                                <h4>{{product}}</h4>
                                                <p>Under <span>{{product.mark.name}}</span></p>
                                             </div>
                                             <a href="#" tabindex="0">{{product.price}} dt</a>
                                          </div>
                                          <div class="prod-btn">
                                             <a href="{% url 'remove-from-wishlist' product.id %}"><i class="fa fa-star" aria-hidden="true"></i> Remove from wishlist</a>
                                          </div>
                                       </div>
                                    </div>
                                    {%endfor%}
                                 </div>
                                 
                              </div>
                              <div class="tab-pane fade" id="tab2default">
                                 <div class="about-box">
                                    <h2>About </h2>
                                    <p>
                                       {{profile.about_me}}
                                    </p>
                                 </div>
                              </div>
                              <div class="tab-pane fade" id="tab3default">
                                 <h3>Email : {{profile.email}}</h3>
                                 <br>
                                 <h3>Phone 1 : +216 {{profile.phone}}</h3>
                                 <br>
                                 <h3>Phone 2 : +216 {{profile.secondPhoneNumber}}</h3>
                                 <br>
                                 <h4>Postecode : {{profile.postcode}}</h4>
                              </div>
                              <div class="tab-pane fade" id="tab4default">Default 4</div>
                              <div class="tab-pane fade" id="tab5default">Default 5</div>
                           </div>
                        </div>
                     </div>
                  </div>
               </div>
            </div>
         </div>
      </div>
{%endblock%}